body {
  font-family: "Montserrat", serif;
  min-height: 100%;
  background: rgb(26, 24, 40);
  /* Dark army green base */
  background: radial-gradient(circle at top, rgb(19 20 29) 0%, rgb(18 20 30) 30%, rgb(19, 30, 50) 55%, rgb(15, 25, 80) 80%, rgb(26, 27, 27) 100%);
  background: -webkit-radial-gradient(circle at top,
      rgba(38, 56, 38, 1) 0%,
      rgba(28, 40, 28, 1) 30%,
      rgba(19, 30, 50, 1) 55%,
      rgba(15, 25, 80, 1) 80%,
      rgba(10, 15, 110, 1) 100%);
}

.q-dialog__backdrop {
  z-index: -1;
  pointer-events: all;
  outline: 0;
  background: rgba(0, 0, 0, 0.906);
}

@import url('fonts.scss');
@import url('font-size.scss');
